.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: auto;
    padding: 25px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    h3 {
      margin-top: 15px;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
}
