body {
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}


#root {
  max-width: 1800px;
  margin: 0 auto;
}